body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:659px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:645px;
}
#u92 {
  position:absolute;
  left:229px;
  top:0px;
  width:430px;
  height:645px;
}
#u93 {
  position:absolute;
  left:2px;
  top:314px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:514px;
}
#u94 {
  position:absolute;
  left:249px;
  top:65px;
  width:385px;
  height:514px;
}
#u95 {
  position:absolute;
  left:2px;
  top:249px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:257px;
  top:168px;
  width:370px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:257px;
  top:255px;
  width:370px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:250px;
  top:65px;
  width:37px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
