body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-247px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:645px;
}
#u42 {
  position:absolute;
  left:247px;
  top:0px;
  width:430px;
  height:645px;
}
#u43 {
  position:absolute;
  left:2px;
  top:314px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:514px;
}
#u44 {
  position:absolute;
  left:268px;
  top:66px;
  width:386px;
  height:514px;
}
#u45 {
  position:absolute;
  left:2px;
  top:249px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:321px;
  top:555px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:422px;
  top:555px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:518px;
  top:555px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:273px;
  top:395px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:273px;
  top:366px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:273px;
  top:335px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:273px;
  top:303px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:273px;
  top:274px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:273px;
  top:245px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:273px;
  top:213px;
  width:381px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:417px;
  top:174px;
  width:45px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:464px;
  top:174px;
  width:37px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
