body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-210px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:645px;
}
#u59 {
  position:absolute;
  left:210px;
  top:0px;
  width:430px;
  height:645px;
}
#u60 {
  position:absolute;
  left:2px;
  top:314px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:512px;
}
#u61 {
  position:absolute;
  left:231px;
  top:65px;
  width:384px;
  height:512px;
}
#u62 {
  position:absolute;
  left:2px;
  top:248px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:231px;
  top:65px;
  width:37px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:430px;
  top:296px;
  width:54px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:355px;
  top:358px;
  width:136px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
